<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Crates</string>
	<key>CFBundleExecutable</key>
	<string>Crates</string>
	<key>CFBundleIconFile</key>
	<string>Crates</string>
	<key>CFBundleIdentifier</key>
	<string>me.ency.crates</string>
	<key>CFBundleName</key>
	<string>Crates</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>me.ency.crates.url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>crates</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CratesBundledYtdlp</key>
	<string>dev</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
